{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.categories.start') }}
    <form class="panel panel-primary" method="post" action="{{ pathFor('addCategory') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Add categories head') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Add category label') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <input class="btn btn-primary" type="submit" value="{{ trans('Add new submit') }}" tabindex="2" />
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="cat_name" maxlength="80" tabindex="1" />
                        <small>{{ trans(['Add category help', '<a href="' ~pathFor('adminForums') ~'">' ~trans('Forums') ~'</a>']) }}</small>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if cat_list is not empty %}
    <form class="panel panel-primary" method="post" action="{{ pathFor('deleteCategory') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Delete categories head') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Delete categories subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Delete category label') }}
                        <br /><input class="btn btn-primary" type="submit" value="{{ trans('Delete') }}" tabindex="4" />
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="cat_to_delete" tabindex="3">
                            {% for cur_cat in cat_list %}
                                <option value="{{ cur_cat.id }}">{{ cur_cat.cat_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="alert alert-danger form-inline">
                            <input class="form-control" type="checkbox" name="disclaimer" value="1"> {{ trans('Delete category disclaimer') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if cat_list is not empty %}
    <form class="panel panel-primary" method="post" action="{{ pathFor('editCategory') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Edit categories head') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Edit categories subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        {{ trans('Category name label') }}
                    </div>
                    <div class="col-sm-6">
                        {{ trans('Category position label') }}
                    </div>
                </div>
            </div>
            {% for cur_cat in cat_list %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="cat[{{ cur_cat.id }}][name]" value="{{ cur_cat.cat_name }}" maxlength="80" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="cat[{{ cur_cat.id }}][order]" value="{{ cur_cat.disp_position }}" size="3" maxlength="3" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" value="{{ trans('Update') }}" />
        </div>
    </form>
    {% endif %}

{{ fireHook('view.admin.categories.end') }}
{% endblock content %}
