{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.censoring.start') }}
    <form class="panel panel-primary" id="censoring" method="post" action="{{ pathFor('adminCensoring') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Censoring head') }}</h3>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Add word subhead') }}</legend>
            </div>
            <div class="list-group-item list-group-item-info">
                {{ trans(['Add word info', settings('o_censoring') == '1'
                ? trans(['Censoring enabled', '<a href="' ~pathFor('adminOptions') ~'#censoring">' ~trans('Options') ~'</a>'])
                : trans(['Censoring disabled', '<a href="' ~pathFor('adminOptions') ~'#censoring">' ~trans('Options') ~'</a>'])
                ]) }}
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        {{ trans('Censored word label') }}
                    </div>
                    <div class="col-sm-4">
                        {{ trans('Replacement label') }}
                    </div>
                    <div class="col-sm-4">
                        {{ trans('Action label') }}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="new_search_for" maxlength="60" tabindex="1"/>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="new_replace_with" maxlength="60" tabindex="2"/>
                    </div>
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="submit" name="add_word" value="{{ trans('Add') }}" tabindex="3"/>
                    </div>
                </div>
            </div>


            <div class="list-group-item">
                <legend>{{ trans('Edit remove subhead') }}</legend>
            </div>
            {% if word_data is not empty %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            {{ trans('Censored word label') }}
                        </div>
                        <div class="col-sm-4">
                            {{ trans('Replacement label') }}
                        </div>
                        <div class="col-sm-4">
                            {{ trans('Action label') }}
                        </div>
                    </div>
                </div>
                {% for word in word_data %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="search_for[{{ word.id }}]" value="{{ word.search_for }}" maxlength="60"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="replace_with[{{ word.id }}]" value="{{ word.replace_with }}" maxlength="60"/>
                        </div>
                        <div class="col-sm-4">
                            <input class="btn btn-primary" type="submit" name="update[{{ word.id }}]" value="{{ trans('Update') }}"/>
                            <input class="btn btn-danger" type="submit" name="remove[{{ word.id }}]" value="{{ trans('Remove') }}"/>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {{ trans('No words in list') }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
{{ fireHook('view.admin.censoring.end') }}
{% endblock content %}
