{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.options.start') }}
    <form class="panel panel-primary" method="post" action="{{ pathFor('adminOptions') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="form_sent" value="1" />
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Options head') }}</h3>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Essentials subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Board title label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_board_title" maxlength="255" value="{{ settings('o_board_title') }}" />
                        <small>{{ trans('Board title help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Board desc label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_board_desc" cols="60" rows="3">{{ settings('o_board_desc') }}</textarea>
                        <small>{{ trans('Board desc help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Base URL label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_base_url"maxlength="100" value="{{ settings('o_base_url') }}" />
                        <small>{{ trans('Base URL help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Timezone label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="form_default_timezone">
                            <option value="-12"{{ settings('o_default_timezone') == -12 ? ' selected="selected"' : '' }}>{{ trans('UTC-12:00') }}</option>
                            <option value="-11"{{ settings('o_default_timezone') == -11 ? ' selected="selected"' : '' }}>{{ trans('UTC-11:00') }}</option>
                            <option value="-10"{{ settings('o_default_timezone') == -10 ? ' selected="selected"' : '' }}>{{ trans('UTC-10:00') }}</option>
                            <option value="-9.5"{{ settings('o_default_timezone') == -9.5 ? ' selected="selected"' : '' }}>{{ trans('UTC-09:30') }}</option>
                            <option value="-9"{{ settings('o_default_timezone') == -9 ? ' selected="selected"' : '' }}>{{ trans('UTC-09:00') }}</option>
                            <option value="-8.5"{{ settings('o_default_timezone') == -8.5 ? ' selected="selected"' : '' }}>{{ trans('UTC-08:30') }}</option>
                            <option value="-8"{{ settings('o_default_timezone') == -8 ? ' selected="selected"' : '' }}>{{ trans('UTC-08:00') }}</option>
                            <option value="-7"{{ settings('o_default_timezone') == -7 ? ' selected="selected"' : '' }}>{{ trans('UTC-07:00') }}</option>
                            <option value="-6"{{ settings('o_default_timezone') == -6 ? ' selected="selected"' : '' }}>{{ trans('UTC-06:00') }}</option>
                            <option value="-5"{{ settings('o_default_timezone') == -5 ? ' selected="selected"' : '' }}>{{ trans('UTC-05:00') }}</option>
                            <option value="-4"{{ settings('o_default_timezone') == -4 ? ' selected="selected"' : '' }}>{{ trans('UTC-04:00') }}</option>
                            <option value="-3.5"{{ settings('o_default_timezone') == -3.5 ? ' selected="selected"' : '' }}>{{ trans('UTC-03:30') }}</option>
                            <option value="-3"{{ settings('o_default_timezone') == -3 ? ' selected="selected"' : '' }}>{{ trans('UTC-03:00') }}</option>
                            <option value="-2"{{ settings('o_default_timezone') == -2 ? ' selected="selected"' : '' }}>{{ trans('UTC-02:00') }}</option>
                            <option value="-1"{{ settings('o_default_timezone') == -1 ? ' selected="selected"' : '' }}>{{ trans('UTC-01:00') }}</option>
                            <option value="0"{{ settings('o_default_timezone') == 0 ? ' selected="selected"' : '' }}>{{ trans('UTC') }}</option>
                            <option value="1"{{ settings('o_default_timezone') == 1 ? ' selected="selected"' : '' }}>{{ trans('UTC+01:00') }}</option>
                            <option value="2"{{ settings('o_default_timezone') == 2 ? ' selected="selected"' : '' }}>{{ trans('UTC+02:00') }}</option>
                            <option value="3"{{ settings('o_default_timezone') == 3 ? ' selected="selected"' : '' }}>{{ trans('UTC+03:00') }}</option>
                            <option value="3.5"{{ settings('o_default_timezone') == 3.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+03:30') }}</option>
                            <option value="4"{{ settings('o_default_timezone') == 4 ? ' selected="selected"' : '' }}>{{ trans('UTC+04:00') }}</option>
                            <option value="4.5"{{ settings('o_default_timezone') == 4.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+04:30') }}</option>
                            <option value="5"{{ settings('o_default_timezone') == 5 ? ' selected="selected"' : '' }}>{{ trans('UTC+05:00') }}</option>
                            <option value="5.5"{{ settings('o_default_timezone') == 5.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+05:30') }}</option>
                            <option value="5.75"{{ settings('o_default_timezone') == 5.75 ? ' selected="selected"' : '' }}>{{ trans('UTC+05:45') }}</option>
                            <option value="6"{{ settings('o_default_timezone') == 6 ? ' selected="selected"' : '' }}>{{ trans('UTC+06:00') }}</option>
                            <option value="6.5"{{ settings('o_default_timezone') == 6.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+06:30') }}</option>
                            <option value="7"{{ settings('o_default_timezone') == 7 ? ' selected="selected"' : '' }}>{{ trans('UTC+07:00') }}</option>
                            <option value="8"{{ settings('o_default_timezone') == 8 ? ' selected="selected"' : '' }}>{{ trans('UTC+08:00') }}</option>
                            <option value="8.75"{{ settings('o_default_timezone') == 8.75 ? ' selected="selected"' : '' }}>{{ trans('UTC+08:45') }}</option>
                            <option value="9"{{ settings('o_default_timezone') == 9 ? ' selected="selected"' : '' }}>{{ trans('UTC+09:00') }}</option>
                            <option value="9.5"{{ settings('o_default_timezone') == 9.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+09:30') }}</option>
                            <option value="10"{{ settings('o_default_timezone') == 10 ? ' selected="selected"' : '' }}>{{ trans('UTC+10:00') }}</option>
                            <option value="10.5"{{ settings('o_default_timezone') == 10.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+10:30') }}</option>
                            <option value="11"{{ settings('o_default_timezone') == 11 ? ' selected="selected"' : '' }}>{{ trans('UTC+11:00') }}</option>
                            <option value="11.5"{{ settings('o_default_timezone') == 11.5 ? ' selected="selected"' : '' }}>{{ trans('UTC+11:30') }}</option>
                            <option value="12"{{ settings('o_default_timezone') == 12 ? ' selected="selected"' : '' }}>{{ trans('UTC+12:00') }}</option>
                            <option value="12.75"{{ settings('o_default_timezone') == 12.75 ? ' selected="selected"' : '' }}>{{ trans('UTC+12:45') }}</option>
                            <option value="13"{{ settings('o_default_timezone') == 13 ? ' selected="selected"' : '' }}>{{ trans('UTC+13:00') }}</option>
                            <option value="14"{{ settings('o_default_timezone') == 14 ? ' selected="selected"' : '' }}>{{ trans('UTC+14:00') }}</option>
                        </select>
                        <small>{{ trans('Timezone help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('DST label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_default_dst" value="1"{{ settings('o_default_dst') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_default_dst" value="0"{{ settings('o_default_dst') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <small>{{ trans('DST help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Language label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="form_default_lang">
                            {{ languages|raw }}
                        </select>
                        <small>{{ trans('Language help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Default style label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="form_default_style">
                            {{ styles|raw }}
                        </select>
                        <small>{{ trans('Default style help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Timeouts subhead') }}</legend>
$diff = (User::get()->timezone + User::get()->dst) * 3600;
$timestamp = time() + $diff;
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Time format label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_time_format" maxlength="25" value="{{ settings('o_time_format') }}" />
                        <small>{{ trans(['Time format help', timestamp|date(settings('o_time_format')), '<a href="http://www.php.net/manual/en/function.date.php">' ~trans('PHP manual') ~'</a>']) }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Date format label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_date_format" maxlength="25" value="{{ settings('o_date_format') }}" />
                        <small>{{ trans(['Date format help', timestamp|date(settings('o_date_format')), '<a href="http://www.php.net/manual/en/function.date.php">' ~trans('PHP manual') ~'</a>']) }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Visit timeout label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_timeout_visit" maxlength="5" value="{{ settings('o_timeout_visit') }}" />
                        <small>{{ trans('Visit timeout help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Online timeout label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_timeout_online" maxlength="5" value="{{ settings('o_timeout_online') }}" />
                        <small>{{ trans('Online timeout help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Redirect time label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_redirect_delay" maxlength="3" value="{{ settings('o_redirect_delay') }}" />
                        <small>{{ trans('Redirect time help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Display subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Version number label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_show_version" value="1"{{ settings('o_show_version') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_show_version" value="0"{{ settings('o_show_version') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Version number help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Info in posts label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_show_user_info" value="1"{{ settings('o_show_user_info') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_show_user_info" value="0"{{ settings('o_show_user_info') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Info in posts help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Post count label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_show_post_count" value="1"{{ settings('o_show_post_count') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_show_post_count" value="0"{{ settings('o_show_post_count') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Post count help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Smilies label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_smilies" value="1"{{ settings('o_smilies') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_smilies" value="0"{{ settings('o_smilies') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Smilies help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Smilies sigs label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_smilies_sig" value="1"{{ settings('o_smilies_sig') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_smilies_sig" value="0"{{ settings('o_smilies_sig') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Smilies sigs help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Clickable links label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_make_links" value="1"{{ settings('o_make_links') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_make_links" value="0"{{ settings('o_make_links') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Clickable links help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Topic review label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_topic_review" maxlength="3" value="{{ settings('o_topic_review') }}" />
                        <small>{{ trans('Topic review help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Topics per page label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_disp_topics_default" maxlength="2" value="{{ settings('o_disp_topics_default') }}" />
                        <small>{{ trans('Topics per page help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Posts per page label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_disp_posts_default" maxlength="2" value="{{ settings('o_disp_posts_default') }}" />
                        <small>{{ trans('Posts per page help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Indent label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_indent_num_spaces" maxlength="3" value="{{ settings('o_indent_num_spaces') }}" />
                        <small>{{ trans('Indent help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Quote depth label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_quote_depth" maxlength="3" value="{{ settings('o_quote_depth') }}" />
                        <small>{{ trans('Quote depth help') }}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Features subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Quick post label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_quickpost" value="1"{{ settings('o_quickpost') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_quickpost" value="0"{{ settings('o_quickpost') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Quick post help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Users online label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_users_online" value="1"{{ settings('o_users_online') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_users_online" value="0"{{ settings('o_users_online') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Users online help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <a name="censoring"></a>{{ trans('Censor words label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_censoring" value="1"{{ settings('o_censoring') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_censoring" value="0"{{ settings('o_censoring') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans(['Censor words help', '<a href="' ~pathFor('adminCensoring') ~'">' ~trans('Censoring') ~'</a>']) }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <a name="signatures"></a>{{ trans('Signatures label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_signatures" value="1"{{ settings('o_signatures') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_signatures" value="0"{{ settings('o_signatures') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Signatures help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('User has posted label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_show_dot" value="1"{{ settings('o_show_dot') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_show_dot" value="0"{{ settings('o_show_dot') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('User has posted help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Topic views label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_topic_views" value="1"{{ settings('o_topic_views') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_topic_views" value="0"{{ settings('o_topic_views') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Topic views help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Quick jump label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_quickjump" value="1"{{ settings('o_quickjump') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_quickjump" value="0"{{ settings('o_quickjump') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Quick jump help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('GZip label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_gzip" value="1"{{ settings('o_gzip') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_gzip" value="0"{{ settings('o_gzip') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('GZip help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Search all label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_search_all_forums" value="1"{{ settings('o_search_all_forums') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_search_all_forums" value="0"{{ settings('o_search_all_forums') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Search all help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Menu items label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_additional_navlinks" rows="3" cols="55">{{ settings('o_additional_navlinks') }}</textarea>
                        <small>{{ trans('Menu items help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Feed subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Default feed label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_feed_type" value="0"{{ settings('o_feed_type') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('None') }}
                        <input class="form-control" type="radio" name="form_feed_type" value="1"{{ settings('o_feed_type') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('RSS') }}
                        <input class="form-control" type="radio" name="form_feed_type" value="2"{{ settings('o_feed_type') == '2' ? ' checked="checked"' : '' }} />&#160;{{ trans('Atom') }}
                        <br /><small>{{ trans('Default feed help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Feed TTL label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="form_feed_ttl">
                            <option value="0"{{ settings('o_feed_ttl') == '0' ? ' selected="selected"' : '' }}>
                                {{ trans('No cache') }}
                            </option>
                            {{ times|raw }}
                        </select>
                        <small>{{ trans('Feed TTL help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Reports subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Reporting method label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_report_method" value="0"{{ settings('o_report_method') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('Internal') }}
                        <input class="form-control" type="radio" name="form_report_method" value="1"{{ settings('o_report_method') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('By e-mail') }}
                        <input class="form-control" type="radio" name="form_report_method" value="2"{{ settings('o_report_method') == '2' ? ' checked="checked"' : '' }} />&#160;{{ trans('Both') }}
                        <small>{{ trans('Reporting method help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Mailing list label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_mailing_list" rows="5" cols="55">{{ settings('o_mailing_list') }}</textarea>
                        <small>{{ trans('Mailing list help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Avatars subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Use avatars label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_avatars" value="1"{{ settings('o_avatars') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_avatars" value="0"{{ settings('o_avatars') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Use avatars help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Upload directory label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_avatars_dir" maxlength="50" value="{{ settings('o_avatars_dir') }}" />
                        <small>{{ trans('Upload directory help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Max width label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_avatars_width" maxlength="5" value="{{ settings('o_avatars_width') }}" />
                        <small>{{ trans('Max width help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Max height label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_avatars_height" maxlength="5" value="{{ settings('o_avatars_height') }}" />
                        <small>{{ trans('Max height help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Max size label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_avatars_size" maxlength="6" value="{{ settings('o_avatars_size') }}" />
                        <small>{{ trans('Max size help') }}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('E-mail subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Admin e-mail label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_admin_email" maxlength="80" value="{{ settings('o_admin_email') }}" />
                        <small>{{ trans('Admin e-mail help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Webmaster e-mail label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_webmaster_email" maxlength="80" value="{{ settings('o_webmaster_email') }}" />
                        <small>{{ trans('Webmaster e-mail help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Forum subscriptions label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_forum_subscriptions" value="1"{{ settings('o_forum_subscriptions') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_forum_subscriptions" value="0"{{ settings('o_forum_subscriptions') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Forum subscriptions help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Topic subscriptions label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input type="radio" name="form_topic_subscriptions" value="1"{{ settings('o_topic_subscriptions') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input type="radio" name="form_topic_subscriptions" value="0"{{ settings('o_topic_subscriptions') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Topic subscriptions help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('SMTP address label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form_smtp_host" maxlength="100" value="{{ settings('o_smtp_host') }}" />
                        <small>{{ trans('SMTP address help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('SMTP username label') }}
                    </div>
                    <div class="col-sm-10">
                        <input type="text" name="form_smtp_user" maxlength="50" value="{{ settings('o_smtp_user') }}" />
                        <small>{{ trans('SMTP username help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('SMTP password label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="checkbox" name="form_smtp_change_pass" value="1" />&#160;{{ trans('SMTP change password help') }}
                        <br />
                        <input class="form-control" type="password" name="form_smtp_pass1" maxlength="50" value="{{ smtp_pass }}" />
                        <input class="form-control" type="password" name="form_smtp_pass2" maxlength="50" value="{{ smtp_pass }}" />
                        <br /><small>{{ trans('SMTP password help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('SMTP SSL label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_smtp_ssl" value="1"{{ settings('o_smtp_ssl') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_smtp_ssl" value="0"{{ settings('o_smtp_ssl') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('SMTP SSL help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Registration subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Allow new label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_regs_allow" value="1"{{ settings('o_regs_allow') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_regs_allow" value="0"{{ settings('o_regs_allow') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Allow new help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Verify label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_regs_verify" value="1"{{ settings('o_regs_verify') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_regs_verify" value="0"{{ settings('o_regs_verify') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Verify help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Report new label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_regs_report" value="1"{{ settings('o_regs_report') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_regs_report" value="0"{{ settings('o_regs_report') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Report new help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Use rules label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_rules" value="1"{{ settings('o_rules') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_rules" value="0"{{ settings('o_rules') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Use rules help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Rules label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_rules_message" rows="5" cols="55">{{ settings('o_rules_message') }}</textarea>
                        <small>{{ trans('Rules help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('E-mail default label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_default_email_setting" id="form_default_email_setting_0" value="0"{{ settings('o_default_email_setting') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('Display e-mail label') }}
                        <input class="form-control" type="radio" name="form_default_email_setting" id="form_default_email_setting_1" value="1"{{ settings('o_default_email_setting') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Hide allow form label') }}
                        <input class="form-control" type="radio" name="form_default_email_setting" id="form_default_email_setting_2" value="2"{{ settings('o_default_email_setting') == '2' ? ' checked="checked"' : '' }} />&#160;{{ trans('Hide both label') }}
                        <br /><small>{{ trans('E-mail default help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Announcement subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Display announcement label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_announcement" value="1"{{ settings('o_announcement') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_announcement" value="0"{{ settings('o_announcement') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Display announcement help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Announcement message label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_announcement_message" rows="5" cols="55">{{ settings('o_announcement_message') }}</textarea>
                        <small>{{ trans('Announcement message help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Maintenance subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        <a name="maintenance"></a>{{ trans('Maintenance mode label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form_maintenance" value="1"{{ settings('o_maintenance') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form_maintenance" value="0"{{ settings('o_maintenance') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Maintenance mode help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Maintenance message label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="form_maintenance_message" rows="5" cols="55">{{ settings('o_maintenance_message') }}</textarea>
                        <small>{{ trans('Maintenance message help') }}</small>
                    </div>
                </div>
            </div>
        </div>
        {{ fireHook('view.admin.options.form') }}
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>
    </form>
    {{ fireHook('view.admin.options.end') }}
{% endblock content %}
