{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.permissions.start') }}
    <form class="panel panel-primary" method="post" action="{{ pathFor('adminPermissions') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="form_sent" value="1" />
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Permissions head') }}</h3>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Posting subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('BBCode label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[message_bbcode]" value="1"{{ settings('p_message_bbcode') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[message_bbcode]" value="0"{{ settings('p_message_bbcode') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('BBCode help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Image tag label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[message_img_tag]" value="1"{{ settings('p_message_img_tag') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[message_img_tag]" value="0"{{ settings('p_message_img_tag') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Image tag help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('All caps message label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[message_all_caps]" value="1"{{ settings('p_message_all_caps') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[message_all_caps]" value="0"{{ settings('p_message_all_caps') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('All caps message help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('All caps subject label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[subject_all_caps]" value="1"{{ settings('p_subject_all_caps') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[subject_all_caps]" value="0"{{ settings('p_subject_all_caps') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('All caps subject help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Require e-mail label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[force_guest_email]" value="1"{{ settings('p_force_guest_email') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[force_guest_email]" value="0"{{ settings('p_force_guest_email') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Require e-mail help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Signatures subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('BBCode sigs label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[sig_bbcode]" value="1"{{ settings('p_sig_bbcode') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[sig_bbcode]" value="0"{{ settings('p_sig_bbcode') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('BBCode sigs help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Image tag sigs label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[sig_img_tag]" value="1"{{ settings('p_sig_img_tag') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[sig_img_tag]" value="0"{{ settings('p_sig_img_tag') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Image tag sigs help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('All caps sigs label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[sig_all_caps]" value="1"{{ settings('p_sig_all_caps') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[sig_all_caps]" value="0"{{ settings('p_sig_all_caps') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('All caps sigs help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Max sig length label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form[sig_length]" maxlength="5" value="{{ settings('p_sig_length') }}" />
                        <br /><small>{{ trans('Max sig length help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Max sig lines label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="form[sig_lines]" maxlength="3" value="{{ settings('p_sig_lines') }}" />
                        <br /><small>{{ trans('Max sig lines help') }}</small>
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Registration subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Banned e-mail label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[allow_banned_email]" value="1"{{ settings('p_allow_banned_email') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[allow_banned_email]" value="0"{{ settings('p_allow_banned_email') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Banned e-mail help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Duplicate e-mail label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="radio" name="form[allow_dupe_email]" value="1"{{ settings('p_allow_dupe_email') == '1' ? ' checked="checked"' : '' }} />&#160;{{ trans('Yes') }}
                        <input class="form-control" type="radio" name="form[allow_dupe_email]" value="0"{{ settings('p_allow_dupe_email') == '0' ? ' checked="checked"' : '' }} />&#160;{{ trans('No') }}
                        <br /><small>{{ trans('Duplicate e-mail help') }}</small>
                    </div>
                </div>
            </div>
        </div>
    {{ fireHook('view.admin.permissions.form') }}
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" />
        </div>
    </form>
{{ fireHook('view.admin.permissions.end') }}
{% endblock content %}
