{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.plugins.start') }}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Plugins
                <div class="pull-right">
                    <a href="{{ pathFor('pluginsRepoList') }}" class="btn btn-info btn-xs" role="button">
                        repo &nbsp; <i class="fa fa-github fa-lg"></i>
                    </a>
                </div>
            </h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <label>{{ trans('Available plugins') }}</label>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        {{ trans('Extension') }}
                    </div>
                    <div class="col-sm-8">
                        {{ trans('Description') }}
                    </div>
                </div>
            </div>
            {% for plugin in availablePlugins %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{ plugin.title }}</strong> <small>{{ plugin.version }}</small>
                        <div class="plugin-actions">
                            {% if plugin.name in activePlugins %}
                                <a class="btn btn-warning btn-xs" href="{{ pathFor('deactivatePlugin', {'name': plugin.name}) }}">{{ trans('Deactivate') }}</a>
                            {% else %}
                                <a class="btn btn-success btn-xs" href="{{ pathFor('activatePlugin', {'name': plugin.name}) }}">{{ trans('Activate') }}</a>
                                <a class="btn btn-danger btn-xs" href="{{ pathFor('uninstallPlugin', {'name': plugin.name}) }}">{{ trans('Uninstall') }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        {{ plugin.description|raw }}
                        <div class="plugin-details">
                            By {{ plugin.author.name }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        {{ availablePlugins|length }} elements
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <label>{{ trans('Available plugins') }}</label>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        {{ trans('Extension') }}
                    </div>
                    <div class="col-sm-8">
                        {{ trans('Description') }}
                    </div>
                </div>
            </div>
            {% for plugin in officialPlugins %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{ plugin.title }}</strong> <small>{{ plugin.version }}</small>
                        <div class="plugin-actions">
                            <a href="{{ pathFor('downloadPlugin', {'name': plugin.name, 'version': plugin.version}) }}">Download</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        {{ plugin.description|raw }}
                        <div class="plugin-details">
                            By {{ plugin.author.name }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        {{ officialPlugins|length }} elements
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ fireHook('view.admin.plugins.end') }}
{% endblock content %}
