{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.pluginsRepo.start') }}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Plugins Repository</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                {{ trans('Available plugins') }}
            </div>
            {% for category, extensions in repoList %}
            <div class="list-group-item list-group-item-success">
                Category: <strong>{{ category }}</strong>
            </div>
                {% for ext in extensions if ext.name is defined %}
                <div class="list-group-item list-group-item-text">
                    <strong>{{ ext.name }}</strong> &nbsp;
                    {% if ext.isInstalled %}
                        <mark>installed</mark>
                    {% else %}
                        <mark style="background-color: lightgrey">Not installed</mark>
                    {% endif %}
                    <div class="pull-right">
                        <a href="#" class="btn btn-info btn-xs" onclick="RunBB.popupWindow('{{ pathFor('downloadPlugin', {'name': ext.key}) }}'); return false;">
                            composer &nbsp; <i class="fa fa-play fa-lg"></i>
                        </a>
                    </div>
                    <br> <small>{{  ext.package }}</small><br>
                    <a class="fancybox" href="https://raw.githubusercontent.com/runcmf/runbb-languages/master/extimg/{{  ext.info }}.png">
                        <img src="https://raw.githubusercontent.com/runcmf/runbb-languages/master/extimg/{{  ext.info }}.png" style="height: 100px !important; width: 200px" />
                    </a>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{{ fireHook('view.admin.pluginsRepo.end') }}
{% endblock content %}

