{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.reports.start') }}
    <form class="panel panel-primary" method="post" action="{{ pathFor('adminReports') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('New reports head') }}</h3>
        </div>
        <div class="list-group">
        {% if report_data is not empty %}
            {% for report in report_data %}
                <div class="list-group-item">
                    <legend>{{ trans(['Report subhead', formatTime(report.created)]) }}</legend>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ trans(['Reported by', (report.reporter != '' ? '<a href="' ~pathFor('userProfile', {'id': report.reported_by}) ~'">' ~report.reporter ~'</a>' : trans('Deleted user')) ]) }}
                        </div>
                        <div class="col-sm-6">
                            {{ breadcrumbsAdmin({
                                (report.forum_name): pathFor('Forum', {'id': report.forum_id, 'name': slug(report.forum_name)}),
                                (report.subject): pathFor('Forum', {'id': report.topic_id, 'name': slug(report.subject)}),
                                (trans(['Post ID', report.pid])): pathFor('viewPost', {'pid': report.pid}) ~'#p' ~report.pid
                            })
                            }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ trans('Reason') }}
                        </div>
                        <div class="col-sm-6">
                            {{ report.message|nl2br }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" name="zap_id[{{ report.id }}]" value="{{ trans('Zap') }}" />
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <legend>{{ trans('None') }}</legend>
                        <p>{{ trans('No new reports') }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </form>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Last 10 head') }}</h3>
        </div>
        <div class="list-group">
            {% if report_zapped_data is not empty %}
                {% for report in report_zapped_data %}
                    <div class="list-group-item">
                        <legend>
                            {{ trans(['Zapped subhead', formatTime(report.zapped), (report.zapped_by != '' ? '<a href="' ~pathFor('userProfile', {'id': report.zapped_by_id}) ~'">' ~report.zapped_by ~'</a>' : trans('NA') )]) }}
                        </legend>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ trans(['Reported by', (report.reporter != '' ? '<a href="' ~pathFor('userProfile', {'id': report.reported_by}) ~'">' ~report.reporter ~'</a>' : trans('Deleted user') ) ]) }}
                            </div>
                            <div class="col-sm-6">
                                {{ breadcrumbsAdmin({
                                    (report.forum_name): pathFor('Forum', {'id': report.forum_id, 'name': slug(report.forum_name)}),
                                    (report.subject): pathFor('Forum', {'id': report.topic_id, 'name': slug(report.subject)}),
                                    (trans(['Post ID', report.pid])): pathFor('viewPost', {'pid': report.pid}) ~'#p' ~report.pid
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ trans('Reason') }}
                            </div>
                            <div class="col-sm-6">
                                {{ report.message|nl2br }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <legend>{{ trans('None') }}</legend>
                            <p>{{ trans('No zapped reports') }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {{ fireHook('view.admin.reports.end') }}
{% endblock content %}
