{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.forums.permissions.start') }}
    <form class="panel panel-primary" id="edit_forum" method="post" action="{{ pathFor('editForum', {'id': cur_forum.id}) }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Edit forum head') }}</h3>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" tabindex="{{ getIndex() }}" />
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Edit details subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Forum name label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="forum_name" maxlength="80" value="{{ cur_forum.forum_name }}" tabindex="{{ getIndex() }}" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Forum description label') }}
                    </div>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="forum_desc" rows="3" cols="50" tabindex="{{ getIndex() }}">{{ cur_forum.forum_desc }}</textarea>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Category label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="cat_id" tabindex="{{ getIndex() }}">
                            {% for cat_id, cat_data in forum_data %}
                            <option value="{{ cat_id }}"{{ cat_id == cur_forum.cat_id ? ' selected="selected"' : '' }}>{{ cat_data.cat_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Sort by label') }}
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" name="sort_by" tabindex="{{ getIndex() }}">
                            <option value="0"{{ cur_forum.sort_by == '0' ? ' selected="selected"' : '' }}>{{ trans('Last post') }}</option>
                            <option value="1"{{ cur_forum.sort_by == '1' ? ' selected="selected"' : '' }}>{{ trans('Topic start') }}</option>
                            <option value="2"{{ cur_forum.sort_by == '2' ? ' selected="selected"' : '' }}>{{ trans('Subject') }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Redirect label') }}
                    </div>
                    <div class="col-sm-10">
                        {{ cur_forum.num_topics is not empty ? trans('Redirect help') : ('<input type="text" name="redirect_url" size="45" maxlength="100" value="' ~cur_forum.redirect_url ~'" tabindex="{{ getIndex() }}" />') }}
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Group permissions subhead') }}</legend>
            </div>
            <div class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-sm-12">
                        {{
                        trans(['Group permissions info', '<a href="' ~pathFor('adminGroups') ~'">' ~trans('User groups') ~'</a>'])
                        }}
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-3">&#160;</div>
                    <div class="col-sm-3">{{ trans('Read forum label') }}</div>
                    <div class="col-sm-3">{{ trans('Post replies label') }}</div>
                    <div class="col-sm-3">{{ trans('Post topics label') }}</div>
                </div>
            </div>
        {% for perm in perm_data %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-3">
                        {{ perm.g_title }}
                    </div>
                    <div class="col-sm-3{{ perm.read_forum_def == false ? ' nodefault' : '' }}">
                        <input type="hidden" name="read_forum_old[{{ perm.g_id }}]" value="{{ perm.read_forum ? '1' : '0' }}" />
                        <input type="checkbox" name="read_forum_new[{{ perm.g_id }}]" value="1"
                                {{ perm.read_forum ? ' checked="checked"' : '' }}
                                {{ perm.g_read_board == '0' ? ' disabled="disabled"' : '' }}
                               tabindex="{{ getIndex() }}" />
                    </div>
                    <div class="col-sm-3{{ perm.post_replies_def == 0 and cur_forum.redirect_url == '' ? ' nodefault' : '' }}">
                        <input type="hidden" name="post_replies_old[{{ perm.g_id }}]" value="{{ perm.post_replies ? '1' : '0' }}" />
                        <input type="checkbox" name="post_replies_new[{{ perm.g_id }}]" value="1"
                                {{ perm.post_replies ? ' checked="checked"' : '' }}
                                {{ cur_forum.redirect_url != '' ? ' disabled="disabled"' : '' }} tabindex="{{ getIndex() }}" />
                    </div>
                    <div class="col-sm-3{{ perm.post_topics_def == false and cur_forum.redirect_url == '' ? ' nodefault' : '' }}">
                        <input type="hidden" name="post_topics_old[{{ perm.g_id }}]" value="{{ perm.post_topics ? '1' : '0' }}" />
                        <input type="checkbox" name="post_topics_new[{{ perm.g_id }}]" value="1"
                                {{ perm.post_topics ? ' checked="checked"' : '' }}
                                {{ cur_forum.redirect_url != '' ? ' disabled="disabled"' : '' }} tabindex="{{ getIndex() }}" />
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="list-group-item text-right">
                <input class="btn btn-warning" type="submit" name="revert_perms" value="{{ trans('Revert to default') }}" tabindex="{{ getIndex() }}" />
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="save" value="{{ trans('Save changes') }}" tabindex="{{ getIndex() }}" />
        </div>
    </form>

{{ fireHook('view.admin.forums.permissions.start') }}
{% endblock content %}
