{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.profile.section_admin.start') }}

    <div class="row">
        <div class="col-sm-3">
            {% include '@forum/profile/menu.html.twig' %}
        </div>

        <div class="col-sm-9">

            <form class="panel panel-primary" id="profile7" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'admin'}) }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="form_sent" value="1" />

                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.username }} - {{ trans('Section admin') }}</h3>
                </div>

                <div class="list-group-item">

                        <div class="inform">

                {% if userGet('g_moderator') == '1' %}
                            <fieldset>
                                <legend>{{ trans('Delete ban legend') }}</legend>
                                <div class="infldset">
                                    <p><input class="btn btn-primary" type="submit" name="ban" value="{{ trans('Ban user') }}" /></p>
                                </div>
                            </fieldset>
                        </div>
                {% else %}
                        {% if userGet('id') != id %}
                                <fieldset>
                                    <legend>{{ trans('Group membership legend') }}</legend>
                                    <div class="infldset">
                                        <select id="group_id" name="group_id">
                                            {{ group_list|raw }}
                                        </select>
                                        <input class="btn btn-primary" type="submit" name="update_group_membership" value="{{ trans('Save') }}" />
                                    </div>
                                </fieldset>
                                    </div>
                                    <div class="inform">
                                <fieldset>

                        {% endif %}

                                <legend>{{ trans('Delete ban legend') }}</legend>
                                <div class="infldset">
                                    <input class="btn btn-warning" type="submit" name="ban" value="{{ trans('Ban user') }}" />
                                    <input class="btn btn-danger" type="submit" name="delete_user" value="{{ trans('Delete user') }}" />
                                </div>
                            {#</fieldset>#}
                        </div>


                        {% if user.g_moderator == '1' or user.g_id == getEnv('FEATHER_ADMIN') %}

                            <div class="inform">
                                <fieldset>
                                    <legend>{{ trans('Set mods legend') }}</legend>
                                    <div class="infldset">
                                        <p>{{ trans('Moderator in info') }}</p>
                                                {{ forum_list|raw }}
                                            </div>
                                        </div>
                                        <br class="clearb" />
                                        <input class="btn btn-primary" type="submit" name="update_forums" value="{{ trans('Update forums') }}" />
                                    </div>
                                </fieldset>
                            </div>

                        {% endif %}

                {% endif %}



                </div>
            </form>

        </div>
    </div>

    {{ fireHook('view.profile.section_admin.end') }}
{% endblock content %}
