{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.profile.section_privacy.start') }}

    <div class="row">
        <div class="col-sm-3">
            {% include '@forum/profile/menu.html.twig' %}
        </div>

        <div class="col-sm-9">

            <form class="panel panel-primary" id="profile6" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'privacy'}) }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="form_sent" value="1" />

                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.username }} - {{ trans('Section privacy') }}</h3>
                </div>

                <div class="list-group-item">

                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Privacy options legend') }}</legend>
                                <div class="infldset">

                                    <p>{{ trans('Email setting info') }}</p>
                                    <div class="rbox">
                                        <label>
                                            <input type="radio" name="form_email_setting" value="0"{{ user.email_setting == '0' ? ' checked="checked"' : '' }}/>
                                            {{ trans('Email setting 1') }}
                                        </label><br />
                                        <label>
                                            <input type="radio" name="form_email_setting" value="1"{{ user.email_setting == '1' ? ' checked="checked"' : '' }}/>
                                            {{ trans('Email setting 2') }}
                                        </label><br />
                                        <label>
                                            <input type="radio" name="form_email_setting" value="2"
                                            {{ user.email_setting == '2' ? ' checked="checked"' : '' }}/>
                                            {{ trans('Email setting 3') }}
                                        </label><br />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                {% if settings('o_forum_subscriptions') == '1' or settings('o_topic_subscriptions') == '1' %}
                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Subscription legend') }}</legend>
                                <div class="infldset">
                                    <div class="rbox">
                                        <label>
                                            <input type="checkbox" name="form_notify_with_post" value="1"{{ user.notify_with_post == '1' ? ' checked="checked"' : '' }}/>
                                            {{ trans('Notify full') }}
                                        </label><br />
                            {% if settings('o_topic_subscriptions') == '1' %}
                                        <label>
                                            <input type="checkbox" name="form_auto_notify" value="1"{{ user.auto_notify == '1' ? ' checked="checked"' : '' }}/>
                                            {{ trans('Auto notify full') }}
                                        </label><br />
                            {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                {% endif %}

                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" name="update" value="{{ trans('Submit') }}" />
                    <small>{{ trans('Instructions') }}</small>
                </div>
            </form>

        </div>
    </div>

    {{ fireHook('view.profile.section_privacy.end') }}
{% endblock content %}
