{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.profile.section_personal.start') }}

    <div class="row">
        <div class="col-sm-3">
            {% include '@forum/profile/menu.html.twig' %}
        </div>

        <div class="col-sm-9">


            <form class="panel panel-primary" id="profile2" method="post" action="{{ pathFor('profileSection', {'id': id, 'section': 'personal'}) }}">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="form_sent" value="1" />

                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.username }} - {{ trans('Section personal') }}</h3>
                </div>

                <div class="list-group-item">

                        <div class="inform">
                            <fieldset>
                                <legend>{{ trans('Personal details legend') }}</legend>
                                <div class="infldset">

                                    <label>{{ trans('Realname') }}<br />
                                        <input class="form-control" type="text" name="form_realname" value="{{ user.realname }}" maxlength="40" /><br />
                                    </label><br />
                                    {{ title_field is defined ? title_field|raw : '' }}<br />
                                    <label>{{ trans('Location') }}<br />
                                        <input class="form-control" type="text" name="form_location" value="{{ user.location }}" maxlength="30" /><br />
                                    </label><br />
                            {% if userGet('g_post_links') == '1' or userGet('g_id') == getEnv('FEATHER_ADMIN') %}
                                    <label>{{ trans('Website') }}<br />
                                        <input class="form-control" type="text" name="form_url" value="{{ user.url }}" maxlength="80" /><br />
                                    </label>
                            {% endif %}
                                </div>
                            </fieldset>
                        </div>

                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" name="update" value="{{ trans('Submit') }}" />
                    <small>{{ trans('Instructions') }}</small>
                </div>
            </form>

        </div>
    </div>

    {{ fireHook('view.profile.section_personal.end') }}
{% endblock content %}
