{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.profile.upload_avatar.start') }}

    <div class="row">
        <div class="col-sm-3">
            {% include '@forum/profile/menu.html.twig' %}
        </div>

        <div class="col-sm-9">

            <form class="panel panel-primary" id="upload_avatar" method="post" enctype="multipart/form-data" action="{{ pathFor('profileAction', {'id': id, 'action': 'upload_avatar2'}) }}" onsubmit="return process_form(this)">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <input type="hidden" name="form_sent" value="1" />
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ settings('o_avatars_size') }}" />

                <div class="panel-heading">
                    <h3 class="panel-title">{{ trans('Upload avatar') }}</h3>
                </div>

                <div class="list-group-item">
                    <fieldset>
                        <legend>{{ trans('Upload avatar legend') }}</legend>
                        <div class="infldset">
                            <div style="position:relative;">
                                <a class='btn btn-primary' href='javascript:;'>
                                    {{ trans('File') }} <span>{{ trans('Required') }}</span>
                                    <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
                                    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="req_file" onchange='$("#upload-file-info").html($(this).val());'>
                                </a>
                                &nbsp;
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>
                            <p>{{ trans('Avatar desc') }}
                                {{ settings('o_avatars_width') }} x {{ settings('o_avatars_height') }}
                                {{ trans('pixels') }} {{ trans('and') }} {{ formatNumber(settings('o_avatars_size')) }}
                                {{ trans('bytes') }} ({{ avatarFormattedSize }})
                            </p>
                        </div>
                    </fieldset>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-primary" type="submit" name="upload" value="{{ trans('Upload') }}" />
                    <a class="btn btn-primary" href="javascript:history.go(-1)">{{ trans('Go back') }}</a>
                </div>
            </form>
        </div>
    </div>

{{ fireHook('view.profile.upload_avatar.end') }}
{% endblock content %}
