{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.maintenance.admin_maintenance.start') }}
    <form class="panel panel-primary" method="get" action="{{ pathFor('adminMaintenance') }}">
        <input type="hidden" name="action" value="rebuild"/>
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Maintenance head') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Rebuild index subhead') }}</legend>
            </div>
            <div class="list-group-item list-group-item-info">
                {{ trans(['Rebuild index info', '<a href="' ~pathFor('adminOptions') ~'#maintenance">' ~trans('Maintenance mode') ~'</a>']) }}
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Posts per cycle label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="i_per_page" maxlength="7" value="300" tabindex="1" />
                        <small>{{ trans('Posts per cycle help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Starting post label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="i_start_at" maxlength="7" value="{{ first_id is defined ? first_id : 0 }}" tabindex="2" />
                        <small>{{ trans('Starting post help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Empty index label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <input class="form-control" type="checkbox" name="i_empty_index" value="1" tabindex="3" checked="checked"/>&#160;&#160;{{ trans('Empty index help') }}
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-info">
                {{ trans('Rebuild completed info') }}
            </div>
            <div class="panel-footer">
                <input class="btn btn-primary" type="submit" name="rebuild_index" value="{{ trans('Rebuild index') }}" tabindex="4"/>
            </div>
        </div>
    </form>

    <form class="panel panel-primary" method="post" action="{{ pathFor('adminMaintenance') }}" onsubmit="return process_form(this)">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="action" value="prune"/>
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Prune subhead') }}</h3>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    {{ trans('Days old label') }}
                </div>
                <div class="col-sm-10">
                    <input class="form-control" type="number" name="req_prune_days" maxlength="3" tabindex="5"/>
                    <small>{{ trans('Days old help') }}</small>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    {{ trans('Prune sticky label') }}
                </div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" type="radio" name="prune_sticky" value="1" tabindex="6" checked="checked"/>&#160;{{ trans('Yes') }}
                    <input class="form-control" type="radio" name="prune_sticky" value="0"/>&#160;{{ trans('No') }}
                    <br /><small>{{ trans('Prune sticky help') }}</small>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    {{ trans('Prune from label') }}
                </div>
                <div class="col-sm-10">
                    <select class="form-control" name="prune_from" tabindex="7">
                        <option value="all">{{ trans('All forums') }}</option>
                        {{ categories|raw }}
                        </optgroup>
                    </select>
                    <small>{{ trans('Prune from help') }}</small>
                </div>
            </div>
        </div>
        <div class="list-group-item list-group-item-info">
            {{ trans(['Prune info', '<a href="' ~pathFor('adminOptions') ~'#maintenance">' ~trans('Maintenance mode') ~'</a>']) }}
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="prune" value="{{ trans('Prune') }}" tabindex="8"/>
        </div>
    </form>
{{ fireHook('view.admin.maintenance.admin_maintenance.end') }}
{% endblock content %}
