{% extends '@forum/layout.html.twig' %}

{% block content %}
{{ fireHook('view.login.password_forgotten.start') }}

{#// If there are errors, we display them#}
    {% if errors is not empty %}
    <div id="posterror" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('New password errors') }}</h3>
        </div>
        <div class="list-group-item">
            <div class="inbox error-info">
                <p>{{ trans('New passworderrors info') }}</p>
                <ul class="error-list">
                    {% for cur_error in errors %}
                    <li><strong>{{ cur_error }}</strong></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <form class="panel panel-primary" id="request_pass" method="post" action="{{ pathFor('resetPassword') }}" onsubmit="this.request_pass.disabled=true;if(process_form(this)){return true;}else{this.request_pass.disabled=false;return false;}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="form_sent" value="1" />

        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Request pass') }}</h3>
        </div>

        <div class="list-group-item">
            <fieldset>
                <legend>{{ trans('Request pass legend') }}</legend>
                <div class="infldset">
                    <label class="required">{{ trans('Email') }} {{ trans('Required') }}<br />
                        <input class="form-control" id="req_email" type="text" name="req_email" maxlength="80" />
                    </label><br />
                    <p>{{ trans('Request pass info') }}</p>
                </div>
            </fieldset>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="request_pass" value="{{ trans('Submit') }}" />
            {% if errors is empty %}
            <a class="btn btn-primary" href="javascript:history.go(-1)">{{ trans('Go back') }}</a>
            {% endif %}
        </div>
    </form>

{{ fireHook('view.login.password_forgotten.end') }}
{% endblock content %}
