{{ fireHook('view.footer.start') }}
        </div>

        <div id="brdfooter" class="blockform">
            <h2><span>{{ trans('Board footer') }}</span></h2>
            <div class="box">

{% if (active_page == 'Forum' or active_page == 'Topic') and userGet('is_admmod') %}
        <div id="modcontrols" class="inbox">

    {% if active_page == 'Forum' %}
            <dl>
                <dt><strong>{{ trans('Mod controls') }}</strong></dt>
                <dd><span><a href="{{ pathFor('moderateForum', {'fid': fid, 'page': page_number}) }}">{{ trans('Moderate forum') }}</a></span></dd>
            </dl>
    {% elseif active_page == 'Topic' %}
            <dl>
                <dt><strong>{{ trans('Mod controls') }}</strong></dt>
                <dd><span><a href="{{
                pathFor('moderateTopic', {'id': tid, 'fid': fid, 'page': page_number})
                }}">{{ trans('Moderate topic') }}</a></span></dd>
                <dd><span><a href="{{
                pathFor('moveTopic', {'id': tid, 'fid': fid, 'name': urlFriendly(cur_topic.subject) })
                }}">{{ trans('Move topic') }}</a></span></dd>

        {% if cur_topic.closed == '1' %}
                <dd><span><a href="{{
                pathFor('openTopic', {'id': tid, 'name': urlFriendly(cur_topic.subject) })
                }}">{{ trans('Open topic') }}</a></span></dd>
        {% else %}
                <dd><span><a href="{{
                pathFor('closeTopic', {'id': tid, 'name': urlFriendly(cur_topic.subject) })
                }}">{{ trans('Close topic') }}</a></span></dd>
        {% endif %}

        {% if cur_topic.sticky == '1' %}
                <dd><span><a href="{{
                pathFor('unstickTopic', {'id': tid, 'name': urlFriendly(cur_topic.subject) })
                }}">{{ trans('Unstick topic') }}</a></span></dd>
        {% else %}
                <dd><span><a href="{{
                pathFor('stickTopic', {'id': tid, 'name': urlFriendly(cur_topic.subject) })
                }}">{{ trans('Stick topic') }}</a></span></dd>
        {% endif %}
            </dl>
    {% endif %}

    {{ fireHook('view.footer.mod.actions') }}
            <div class="clearer"></div>
        </div>
{% endif %}


                <div id="brdfooternav" class="inbox">

{# Display the "Jump to" drop list #}
{% if settings('o_quickjump') == '1' and quickjump is not empty %}
                    <div class="conl">
                        <form class="form-horizontal" id="qjump" method="get" action="">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="id">{{ trans('Jump to') }}</label>
                                <div class="col-sm-8">
                                <select name="id" class="form-control" onchange="window.location=(this.options[this.selectedIndex].value)">
{% for cat_id, cat_data in quickjump["#{ userGet('g_id') }"] %}
                                    <optgroup label="{{ cat_data.cat_name }}">
                    {% for forum in cat_data.cat_forums %}
                        <option value="{{ pathFor('Forum', {'id': "#{ forum.forum_id }", 'name': "#{ urlFriendly(forum.forum_name) }"}) }}"{{ fid == 2 ? ' selected="selected"' : '' }}>{{ forum.forum_name }}</option>
                    {% endfor %}

                                    </optgroup>
{% endfor %}
                                </select>
                                </div>
                            </div>
                        </form>
                    </div>
{% endif %}
                    <div class="conr">


{% if active_page == 'index' %}
    {% if settings('o_feed_type') == '1' %}
        <p id="feedlinks"><span class="rss"><a href="{{ pathFor('extern') }}?action=feed&type=rss">{{ trans('RSS active topics feed') }}</a></span></p>
    {% elseif settings('o_feed_type') == '2' %}
        <p id="feedlinks"><span class="atom"><a href="{{ pathFor('extern') }}?action=feed&type=atom">{{ trans('Atom active topics feed') }}</a></span></p>
    {% endif %}
{% elseif active_page == 'Forum' %}
    {% if settings('o_feed_type') == '1' %}
        <p id="feedlinks"><span class="rss"><a href="{{ pathFor('extern') }}?action=feed&fid={{ fid }}&type=rss">{{ trans('RSS forum feed') }}</a></span></p>
    {% elseif settings('o_feed_type') == '2' %}
        <p id="feedlinks"><span class="atom"><a href="{{ pathFor('extern') }}?action=feed&fid={{ fid }}&type=atom">{{ trans('Atom forum feed') }}</a></span></p>
    {% endif %}
{% elseif active_page == 'Topic' %}
    {% if settings('o_feed_type') == '1' %}
        <p id="feedlinks"><span class="rss"><a href="{{ pathFor('extern') }}?action=feed&tid={{ tid }}&type=rss">{{ trans('RSS topic feed') }}</a></span></p>
    {% elseif settings('o_feed_type') == '2' %}
        <p id="feedlinks"><span class="atom"><a href="{{ pathFor('extern') }}?action=feed&tid={{ tid }}&type=atom">{{ trans('Atom topic feed') }}</a></span></p>
    {% endif %}
{% endif %}

{{ fireHook('view.footer.feed.links') }}

                        <p id="poweredby">
                            {{ trans(
                            ['Powered by',
                            '<a href="https://github.com/runcmf/runbb">RunBB</a> '
                            ~"#{ settings('o_show_version') == '1' ? settings('o_cur_version') : '' }"
                            ]) }}
                            <br />Based on <a href="https://github.com/featherbb/featherbb">FeatherBB</a>
                        </p>
                    </div>
                <div class="clearer"></div>
            </div>
        </div>
    </div>

{# Display debug info (if enabled/defined) #}
{% if exec_info is not empty %}
    <p id="debugtime">[
    {{ trans(['Querytime', exec_info.exec_time|round(6)]) }} -
    {{ trans(['Memory usage', exec_info.mem_usage]) }}
    {{ trans(['Peak usage', exec_info.mem_peak_usage]) }}
    ]</p>
{% endif %}
{% if queries_info is not empty %}
    <div id="debug" class="blocktable">
        <h2><span>{{ trans('Debug table') }}</span></h2>
        <div class="box">
                <div class="inbox">
                <table>
                    <thead>
                        <tr>
                            <th class="tcl" scope="col">{{ trans('Query times') }}</th>
                            <th class="tcr" scope="col">{{ trans('Query') }}</th>
                        </tr>
                    </thead>
                    <tbody>
{% for time, sql in queries_info.raw %}
                        <tr>
                            <td class="tcl">{{ time|round(8) }}</td>
                            <td class="tcr">{{ sql }}</td>
                        </tr>
{% endfor %}
                        <tr>
                            <td class="tcl" colspan="2">{{ trans('Total query time') }}
                            {{ queries_info.total_time|round(7) }} s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
</section>

<!-- JS -->
{% for script in assets.js %}
<script {% for key, value in script.params %}{{ key }}="{{ value }}"{% endfor %} src="{{ baseStatic() }}/{{ script.file }}" /></script>
{% endfor %}
<!-- JSRAW -->
<script>
    var baseUrl = '{{ urlBase() }}',
        phpVars = {{ jsVars|json_encode() }};
    {{ jsraw|raw }}
</script>

{% if userGet('is_guest') %}
{% include '@forum/login.html.twig' %}
{% endif %}

{{ fireHook('view.footer.before.html.tag') }}
</body>
</html>
{{ fireHook('view.footer.end') }}
