{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.groups.add_edit_group.start') }}
    <form class="panel panel-primary" id="groups2" method="post" action="" onsubmit="return process_form(this)">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="mode" value="{{ group.mode }}" />
        {% if group.mode == 'edit' %}
        <input type="hidden" name="group_id" value="{{ id }}" />
        {% endif %}
        {% if group.mode == 'add' %}
        <input type="hidden" name="base_group" value="{{ group.base_group }}" />
        {% endif %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Group settings head') }}</h3>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="add_edit_group" value="{{ trans('Save') }}" />
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Group settings subhead') }}</legend>
            </div>
            <div class="list-group-item list-group-item-info">
                {{ trans('Group settings info') }}
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Group title label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="req_title" maxlength="50" value="{{ group.mode == 'edit' ? group.info.g_title : '' }}" tabindex="1" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('User title label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="user_title" maxlength="50" value="{{ group.info.g_user_title }}" tabindex="2" />
                        <small>{{ trans(['User title help', (group.info.g_id != getEnv('FEATHER_GUEST') ? trans('Member') : trans('Guest'))]) }}</small>
                    </div>
                </div>
            </div>
            {% if group.info.g_id != getEnv('FEATHER_ADMIN') %}
                {% if group.info.g_id != getEnv('FEATHER_GUEST') %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Promote users label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <select class="form-control" name="promote_next_group" tabindex="3">
                                    <option value="0">{{ trans('Disable promotion') }}</option>
                                    {{ group_list|raw }}
                                </select>
                                <input class="form-control" type="text" name="promote_min_posts" maxlength="10" value="{{ group.info.g_promote_min_posts }}" tabindex="4" />
                                <br /><small>{{ trans(['Promote users help', trans('Disable promotion')]) }}</small>
                            </div>
                        </div>
                    </div>
                    {% if group.mode != 'edit' or settings('o_default_user_group') != group.info.g_id %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Mod privileges label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="moderator" value="1"{{ group.info.g_moderator == '1' ? ' checked="checked"' : '' }} tabindex="5" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="moderator" value="0"{{ group.info.g_moderator == '0' ? ' checked="checked"' : '' }} tabindex="6" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Mod privileges help') }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Edit profile label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="mod_edit_users" value="1"{{ group.info.g_mod_edit_users == '1' ? ' checked="checked"' : '' }} tabindex="7" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="mod_edit_users" value="0"{{ group.info.g_mod_edit_users == '0' ? ' checked="checked"' : '' }} tabindex="8" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Edit profile help') }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Rename users label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="mod_rename_users" value="1"{{ group.info.g_mod_rename_users == '1' ? ' checked="checked"' : '' }} tabindex="9" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="mod_rename_users" value="0"{{ group.info.g_mod_rename_users == '0' ? ' checked="checked"' : '' }} tabindex="10" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Rename users help') }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Change passwords label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="mod_change_passwords" value="1"{{ group.info.g_mod_change_passwords == '1' ? ' checked="checked"' : '' }} tabindex="11" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="mod_change_passwords" value="0"{{ group.info.g_mod_change_passwords == '0' ? ' checked="checked"' : '' }} tabindex="12" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Change passwords help') }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Mod promote users label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="mod_promote_users" value="1"{{ group.info.g_mod_promote_users == '1' ? ' checked="checked"' : '' }} tabindex="13" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="mod_promote_users" value="0"{{ group.info.g_mod_promote_users == '0' ? ' checked="checked"' : '' }} tabindex="14" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Mod promote users help') }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ trans('Ban users label') }}
                            </div>
                            <div class="col-sm-10 form-inline">
                                <input class="form-control" type="radio" name="mod_ban_users" value="1"{{ group.info.g_mod_ban_users == '1' ? ' checked="checked"' : '' }} tabindex="15" />&#160;{{ trans('Yes') }}
                                <input class="form-control" type="radio" name="mod_ban_users" value="0"{{ group.info.g_mod_ban_users == '0' ? ' checked="checked"' : '' }} tabindex="16" />&#160;{{ trans('No') }}
                                <br /><small>{{ trans('Ban users help') }}</small>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Read board label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="read_board" value="1"{{ group.info.g_read_board == '1' ? ' checked="checked"' : '' }} tabindex="17" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="read_board" value="0"{{ group.info.g_read_board == '0' ? ' checked="checked"' : '' }} tabindex="18" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Read board help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('View user info label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="view_users" value="1"{{ group.info.g_view_users == '1' ? ' checked="checked"' : '' }} tabindex="19" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="view_users" value="0"{{ group.info.g_view_users == '0' ? ' checked="checked"' : '' }} tabindex="20" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('View user info help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Post replies label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="post_replies" value="1"{{ group.info.g_post_replies == '1' ? ' checked="checked"' : '' }} tabindex="21" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="post_replies" value="0"{{ group.info.g_post_replies == '0' ? ' checked="checked"' : '' }} tabindex="22" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Post replies help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Post topics label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="post_topics" value="1"{{ group.info.g_post_topics == '1' ? ' checked="checked"' : '' }} tabindex="23" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="post_topics" value="0"{{ group.info.g_post_topics == '0' ? ' checked="checked"' : '' }} tabindex="24" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Post topics help') }}</small>
                        </div>
                    </div>
                </div>
                {% if group.info.g_id != getEnv('FEATHER_GUEST') %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Edit posts label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="edit_posts" value="1"{{ group.info.g_edit_posts == '1' ? ' checked="checked"' : '' }} tabindex="25" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="edit_posts" value="0"{{ group.info.g_edit_posts == '0' ? ' checked="checked"' : '' }} tabindex="26" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Edit posts help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Delete posts label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="delete_posts" value="1"{{ group.info.g_delete_posts == '1' ? ' checked="checked"' : '' }} tabindex="27" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="delete_posts" value="0"{{ group.info.g_delete_posts == '0' ? ' checked="checked"' : '' }} tabindex="28" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Delete posts help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Delete topics label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="delete_topics" value="1"{{ group.info.g_delete_topics == '1' ? ' checked="checked"' : '' }} tabindex="29" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="delete_topics" value="0"{{ group.info.g_delete_topics == '0' ? ' checked="checked"' : '' }} tabindex="30" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Delete topics help') }}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Post links label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="post_links" value="1"{{ group.info.g_post_links == '1' ? ' checked="checked"' : '' }} tabindex="31" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="post_links" value="0"{{ group.info.g_post_links == '0' ? ' checked="checked"' : '' }} tabindex="32" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Post links help') }}</small>
                        </div>
                    </div>
                </div>
                {% if group.info.g_id != getEnv('FEATHER_GUEST') %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Set own title label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="set_title" value="1"{{ group.info.g_set_title == '1' ? ' checked="checked"' : '' }} tabindex="33" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="set_title" value="0"{{ group.info.g_set_title == '0' ? ' checked="checked"' : '' }} tabindex="34" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Set own title help') }}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('User search label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="search" value="1"{{ group.info.g_search == '1' ? ' checked="checked"' : '' }} tabindex="35" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="search" value="0"{{ group.info.g_search == '0' ? ' checked="checked"' : '' }} tabindex="36" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('User search help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('User list search label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="search_users" value="1"{{ group.info.g_search_users == '1' ? ' checked="checked"' : '' }} tabindex="37" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="search_users" value="0"{{ group.info.g_search_users == '0' ? ' checked="checked"' : '' }} tabindex="38" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('User list search help') }}</small>
                        </div>
                    </div>
                </div>
                {% if group.info.g_id != getEnv('FEATHER_GUEST') %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Send e-mails label') }}
                        </div>
                        <div class="col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="send_email" value="1"{{ group.info.g_send_email == '1' ? ' checked="checked"' : '' }} tabindex="39" />&#160;{{ trans('Yes') }}
                            <input class="form-control" type="radio" name="send_email" value="0"{{ group.info.g_send_email == '0' ? ' checked="checked"' : '' }} tabindex="40" />&#160;{{ trans('No') }}
                            <br /><small>{{ trans('Send e-mails help') }}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Post flood label') }}
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="post_flood" maxlength="4" value="{{ group.info.g_post_flood }}" tabindex="41" />
                            <small>{{ trans('Post flood help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Search flood label') }}
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="search_flood" size="5" maxlength="4" value="{{ group.info.g_search_flood }}" tabindex="42" />
                            <small>{{ trans('Search flood help') }}</small>
                        </div>
                    </div>
                </div>
                {% if group.info.g_id != getEnv('FEATHER_GUEST') %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('E-mail flood label') }}
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="email_flood" maxlength="4" value="{{ group.info.g_email_flood }}" tabindex="43" />
                            <small>{{ trans('E-mail flood help') }}</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            {{ trans('Report flood label') }}
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="report_flood" maxlength="4" value="{{ group.info.g_report_flood }}" tabindex="44" />
                            <small>{{ trans('Report flood help') }}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

{{ fireHook('view.admin.groups.add_edit_group.form') }}

            {% if group.info.g_moderator == '1' %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">{{ trans('Moderator info') }}</div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="add_edit_group" value="{{ trans('Save') }}" tabindex="45" />
        </div>
    </form>
{{ fireHook('view.admin.groups.add_edit_group.end') }}
{% endblock content %}
