{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.bans.add.start') }}

    <form class="panel panel-primary" id="bans2" method="post" action="">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <input type="hidden" name="mode" value="{{ ban.mode }}"/>
        {% if ban.mode == 'edit' %}
            <input type="hidden" name="ban_id" value="{{ ban.id }}"/>
        {% endif %}
        {% if ban.mode == 'add' and ban.user_id is defined %}
            <input type="hidden" name="ban_user_id" value="{{ ban.user_id }}"/>
        {% endif %}

        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Ban advanced head') }}</h3>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Ban advanced subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Username label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ban_user" maxlength="25" value="{{ ban.ban_user is defined ? ban.ban_user : '' }}" tabindex="1"/>
                        <small>{{ trans('Username help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('IP label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ban_ip" maxlength="255" value="{{ ban.ip is defined ? ban.ip : '' }}" tabindex="2"/>
                        <small>{{ trans('IP help') }} {{ ban.ban_user != '' and ban.user_id is defined ? trans(['IP help link', '<a href="' ~pathFor('usersIpStats', {'id': ban.user_id}) ~'">' ~trans('here') ~'</a>']) : '' }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('E-mail label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ban_email" maxlength="80" value="{{ ban.email is defined ? ban.email : '' }}" tabindex="3"/>
                        <small>{{ trans('E-mail help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12 alert-danger">
                        {{ trans('Ban IP range info') }}
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <legend>{{ trans('Message expiry subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Ban message label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ban_message" maxlength="255" value="{{ ban.message is defined ? ban.message : '' }}" tabindex="4"/>
                        <small>{{ trans('Ban message help') }}</small>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Expire date label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ban_expire" maxlength="10" value="{{ ban.expire is defined ? ban.expire : '' }}" tabindex="5"/>
                        <small>{{ trans('Expire date help') }}</small>
                    </div>
                </div>
            </div>
{{ fireHook('view.admin.bans.add.form') }}

        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="add_edit_ban" value="{{ trans('Save') }}" tabindex="6"/>
        </div>
    </form>

{{ fireHook('view.admin.bans.add.end') }}
{% endblock content %}
