{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.bans.admin_bans.start') }}
    <form class="panel panel-primary" id="bans" method="post" action="{{ pathFor('addBan') }}">
        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('New ban head') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Add ban subhead') }}</legend>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Username label') }}
                    </div>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="new_ban_user" maxlength="25" tabindex="1" />
                        <small>{{ trans('Username advanced help') }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="add_ban" value="{{ trans('Add') }}" tabindex="2" />
        </div>
    </form>

    <form class="panel panel-primary" id="find_bans" method="get" action="{{ pathFor('adminBans') }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Ban search head') }}</h3>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="find_ban" value="{{ trans('Submit search') }}" tabindex="3" />
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <legend>{{ trans('Ban search subhead') }}</legend>
                <small>{{ trans('Ban search info') }}</small>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('Username label') }}" type="text" name="username" maxlength="25" tabindex="4" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('IP label') }}" type="text" name="ip" maxlength="255" tabindex="5" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('E-mail label') }}" type="text" name="email" maxlength="80" tabindex="6" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('Message label') }}" type="text" name="message" maxlength="255" tabindex="7" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('Expire after label') }} {{ trans('Date help') }}" type="text" name="expire_after" maxlength="10" tabindex="8" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="{{ trans('Expire before label') }} {{ trans('Date help') }}" type="text" name="expire_before" maxlength="10" tabindex="9" />
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Order by label') }}
                    </div>
                    <div class="col-sm-10 form-inline">
                        <select class="form-control" name="order_by" tabindex="10">
                            <option value="username" selected="selected">{{ trans('Order by username') }}</option>
                            <option value="ip">{{ trans('Order by ip') }}</option>
                            <option value="email">{{ trans('Order by e-mail') }}</option>
                            <option value="expire">{{ trans('Order by expire') }}</option>
                        </select>
                        &#160;&#160;&#160;
                        <select class="form-control" name="direction" tabindex="11">
                            <option value="ASC" selected="selected">{{ trans('Ascending') }}</option>
                            <option value="DESC">{{ trans('Descending') }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
{{ fireHook('view.admin.bans.admin_bans.form') }}
        <div class="panel-footer">
            <input class="btn btn-primary" type="submit" name="find_ban" value="{{ trans('Submit search') }}" tabindex="12" />
        </div>
    </form>
    {{ fireHook('view.admin.bans.admin_bans.end') }}
{% endblock content %}
