{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.bans.search.start') }}

    <div class="linkst">
        <div class="inbox crumbsplus">
            <ul class="crumbs">
                <li><a href="{{ pathFor('adminIndex') }}">{{ trans('Admin') }} {{ trans('Index') }}</a></li>
                <li><span>»&#160;</span><a href="{{ pathFor('addBan') }}">{{ trans('Bans') }}</a></li>
                <li><span>»&#160;</span><strong>{{ trans('Results head') }}</strong></li>
            </ul>
            <div class="pagepost">
                <p class="pagelink">{{ paging_links|raw }}</p>
            </div>
            <div class="clearer"></div>
        </div>
    </div>


    <div id="bans1" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ trans('Results head') }}</h3>
        </div>

        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-sm-2">
                        {{ trans('Results username head') }}
                    </div>
                    <div class="col-sm-5">
                        {{ trans('Info') }}
                    </div>
                    <div class="col-sm-2 text-nowrap">
                        {{ trans('Results banned by head') }}
                    </div>
                    <div class="col-sm-3">
                        {{ trans('Results actions head') }}
                    </div>
                </div>
            </div>
            {% for cur_ban in ban_data %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-2">
                        {{ cur_ban.username != '' ? cur_ban.username : '' }}
                    </div>
                    <div class="col-sm-5">
                        {{ trans('Results e-mail head') }}: <strong>{{ cur_ban.email != '' ? cur_ban.email : '' }}</strong><br />
                        {{ trans('Results IP address head') }}: <strong>{{ cur_ban.ip != '' ? cur_ban.ip : '' }}</strong><br />
                        {{ trans('Results expire head') }}: <strong>{{ formatTime(cur_ban.expire, true) }}</strong><br />
                        {{ trans('Results message head') }}: <strong>{{ cur_ban.message != '' ? cur_ban.message : '' }}</strong>
                    </div>
                    <div class="col-sm-2 text-nowrap">
                        {{ cur_ban.ban_creator_username != ''
                        ? ('<a href="' ~pathFor('userProfile', {'id': cur_ban.ban_creator}) ~'">' ~cur_ban.ban_creator_username ~'</a>')|raw
                        : trans('Unknown') }}
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-primary btn-sm" href="{{ pathFor('editBan', {'id': cur_ban.id}) }}">{{ trans('Edit') }}</a>
                        <a class="btn btn-success btn-sm" href="{{ pathFor('deleteBan', {'id': cur_ban.id}) }}">{{ trans('Remove') }}</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm-12 text-center"><h4>{{ trans('No match') }}</h4></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="linksb">
        <div class="inbox crumbsplus">
            <div class="pagepost">
                <p class="pagelink">{{ paging_links|raw }}</p>
            </div>
            <ul class="crumbs">
                <li><a href="{{ pathFor('adminIndex') }}">{{ trans('Admin') }} {{ trans('Index') }}</a></li>
                <li><span>»&#160;</span><a href="{{ pathFor('adminBans') }}">{{ trans('Bans') }}</a></li>
                <li><span>»&#160;</span><strong>{{ trans('Results head') }}</strong></li>
            </ul>
            <div class="clearer"></div>
        </div>
    </div>


{{ fireHook('view.admin.bans.search.end') }}
{% endblock content %}
